* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  /* TODO: page background color */
}

/* TODO: style header */


/* TODO: style nav a (the links) */


/* TODO: style main */


/* TODO: style the .highlight span */


/* TODO: style your lists (ul, ol, dl) */


/* TODO: style the table inside your <article> */


/* TODO: style aside */


/* TODO: style footer */
